form{
    margin-top:  7px;
}

.container {
    color: whitesmoke;
}

.cards h4{
    font-size: 30px ;
}

form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}

form input:focus{
    background-color: transparent;
    box-shadow: none !important;
}

